{% embed "::base.html.twig" %}
    {% block body %}
        <div class="row">
            <h1> ePressPack </h1>
        </div>

        <div class="row">
            <h1> Categories </h1>
            <select id="categories">
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <h1> Quiz </h1>
        </div>

        <div class="row">
            <h1> Quiz </h1>
        </div>
        OK
    {% endblock %}
{% endembed %}

