<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/build/bootstrap.min.css"/>
            <link rel="stylesheet" href="/build/global.css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">

            {% block body %}
            {% endblock %}

        </div>

        {% block javascripts %}
            <script src="/build/jquery.js"></script>
            <script src="/build/bootstrap.js"></script>
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
